.r-qrcode {
  position: relative;
  display: inline-flex;
  width: var(--r-qrcode-width);
  height: var(--r-qrcode-height);
  overflow: hidden;
  border: 1px solid rgba(5, 5, 5, 0.06);
  border-radius: var(--r-qrcode-border-radius);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.r-qrcode img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.r-qrcode .r-qrcode__loading--custom {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.r-qrcode .r-qrcode__loading--custom .r-qrcode__loading-slots {
  position: absolute;
  inset: 0;
}
.r-qrcode .r-qrcode__loading {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.r-qrcode .r-qrcode__loading::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--r-qrcode-mask-color);
}
.r-qrcode .r-qrcode__loading .r-qrcode__spin {
  position: absolute;
  width: 30px;
  height: 30px;
  border: var(--r-qrcode-spin-size, 3px) solid var(--r-qrcode-primary-color, #1677ff);
  border-top-color: transparent;
  border-radius: 50%;
  animation: r-qrcode-spin 0.75s linear infinite;
  will-change: transform;
}
.r-qrcode .r-qrcode__error {
  position: absolute;
  inset: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px 0;
  color: rgba(0, 0, 0, 0.88);
  transition: color 0.3s ease-in-out;
}
.r-qrcode .r-qrcode__error::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--r-qrcode-mask-color);
  z-index: -1;
}
.r-qrcode .r-qrcode__error .r-qrcode__error-content {
  text-align: center;
  padding: 0 8px;
}
.r-qrcode .r-qrcode__error .r-qrcode__error-btn {
  cursor: pointer;
  color: var(--r-qrcode-primary-color, #1677ff);
  transition: color 0.2s ease-in-out;
}
.r-qrcode .r-qrcode__error .r-qrcode__error-btn:hover {
  color: var(--r-qrcode-primary-color-2, #69b1ff);
}
.r-qrcode .r-qrcode__error .r-qrcode__error-btn .r-qrcode__error-btn-click {
  color: var(--r-qrcode-primary-color, #1677ff);
}

@keyframes r-qrcode-spin {
  to {
    transform: rotate(360deg);
  }
}