.ray-qrcode {
  position: relative;
  display: inline-flex;
  width: var(--ray-qrcode-width);
  height: var(--ray-qrcode-height);
  overflow: hidden;
  border: 1px solid rgba(5, 5, 5, 0.06);
  border-radius: var(--ray-qrcode-border-radius);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.ray-qrcode .ray-qrcode__loading--custom {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ray-qrcode .ray-qrcode__loading--custom .ray-qrcode__loading-slots {
  position: absolute;
  width: 100%;
  height: 100%;
}
.ray-qrcode .ray-qrcode__loading {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ray-qrcode .ray-qrcode__loading::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--ray-qrcode-mask-color);
}
.ray-qrcode .ray-qrcode__loading .ray-qrcode__spin {
  position: absolute;
  width: 30px;
  height: 30px;
  border: var(--ray-qrcode-spin-size, 3px) solid var(--ray-qrcode-primary-color, #1677ff);
  border-top-color: transparent;
  border-radius: 100%;
  animation: ray-qrcode-spin infinite 0.75s linear;
}
.ray-qrcode .ray-qrcode__error {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px 0;
  color: rgba(0, 0, 0, 0.88);
  transition: color 0.3s ease-in-out;
}
.ray-qrcode .ray-qrcode__error::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--ray-qrcode-mask-color);
  z-index: -1;
}
.ray-qrcode .ray-qrcode__error .ray-qrcode__error-content {
  text-align: center;
}
.ray-qrcode .ray-qrcode__error .ray-qrcode__error-btn {
  cursor: pointer;
  color: var(--ray-qrcode-primary-color, #1677ff);
}
.ray-qrcode .ray-qrcode__error .ray-qrcode__error-btn:hover {
  color: var(--ray-qrcode-primary-color-2, #69b1ff);
}
.ray-qrcode .ray-qrcode__error .ray-qrcode__error-btn .ray-qrcode__error-btn-click {
  color: var(--ray-qrcode-primary-color, #1677ff);
}

@keyframes ray-qrcode-spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}